@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
  font-family: 'Noto Sans JP', sans-serif;
}
body{
  background-color:#282A36;
  color:#8a8ea8;
}
h1,p{
  margin-bottom:20px;
}
.container{
  width:100%;
  max-width:980px;
  margin:0 auto;
  padding: 15px;
}
.form-group{
  display:flex;
  flex-direction:column;
}
.form-group label{
  margin-bottom:4px;
}
.form-control{
  margin-bottom:10px;
}
input.form-control{
  border:0;
  width:90%;
  padding:15px 20px;
  border-radius:7px;
  border:2px solid #363949;
  font-size:1.1em;
}
textarea.form-control{
    border:0;
  width:90%;
  padding:15px 20px;
  border-radius:7px;
  border:2px solid #363949;
  font-size:1.1em;
  height:200px;
}
.btn{
  border:0;
  padding:10px 30px;
  margin:30px 0;
  border-radius:5px;
  background-color:#d93d0499;
  color:#f1f1f1;
  font-size:1.1em;
  transition:500ms;
}
.btn:hover{
  background-color:#d93d04;
}